# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
build/
bin/
dist/

# Ignore coverage reports
coverage/
*.cover
*.coverage
*.cov

# Ignore IDE specific files
.idea/
.vscode/
*.iml

# Ignore tar files
*.tar